## **BASE DE VENDAS FICTÍCIAS**

In [ ]:
""" Problemas resolvidos:

    - Padronização das colunas
    - Conversão
    - Valores faltantes
    - Valores duplicados
    - Mensuramento dos dados """

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('vendas_ficticias.csv')

In [ ]:
# 5000 linhas e 7 colunas
df.shape

qtd_linhas = df.shape[0]
qtd_colunas = df.shape[1]

In [ ]:
# padronização e conversão de Preço e Data_Venda
df.info()

In [ ]:
# padronização das colunas
df.columns

colunas = ['id', 'produto', 'categoria', 'preco', 'quantidade', 'dt_venda',
       'vendedor']
df.columns = colunas

df.columns

In [ ]:
# conversao de preco

df.preco

df['preco'] = df['preco'].str.replace("'",  '')
# df['preco'] = pd.to_numeric(df['preco'].str.replace("'", ''))

df.preco

In [ ]:
df = df.astype(
    {
        'preco': np.float64
    }
)

df.preco

In [ ]:
# conversão de data
df.dt_venda

df['dt_venda'] = pd.to_datetime(df['dt_venda'], format='%Y-%m-%d')

df.dt_venda

In [ ]:
# valores faltantes
df.info()

In [ ]:
# correção de valores faltantes em produto, categoria, vendedor e dt_venda
df.isnull().sum()

In [ ]:
df['produto'] = df['produto'].fillna('Desconhecido')
df['categoria'] = df['categoria'].fillna('Desconhecida')
df['vendedor'] = df['vendedor'].fillna('Desconhecido')

df.info()

In [ ]:
df['dt_venda'].fillna('2023-09-22', inplace=True)
df.info()

In [ ]:
# não há duplicidade de dados
df.duplicated().sum()

df.columns
df['id'].duplicated().sum()

In [ ]:
# criação de colunas
df['faturamento'] = df['preco'] * df['quantidade']
df['margem_contribuicao'] = df['faturamento'] / df['faturamento'].sum() * 100

In [ ]:
df['mes'] = df['dt_venda'].dt.month
df['ano'] = df['dt_venda'].dt.year

df.head()

In [ ]:
df.ano.unique()

In [ ]:
df.mes.unique()

In [ ]:
# mensuramento de dados
df_resumo = df.groupby(['ano', 'mes']).agg(
    {
        'quantidade': 'sum',
        'faturamento': 'sum'
    }
)

df_resumo.query("ano <= 2025")